<div class="container">
  <div class="row no-gutters">
    <div class="col text-center py-3">
      <img src="../assets/svg/keep-48px.svg" aria-hidden="true" />
      +
      <img src="../assets/svg/angular-48px.svg" aria-hidden="true" />
      +
      <img src="../assets/svg/firebase-48px.svg" alt="" aria-hidden="true" />
    </div>
  </div>
</div>

<span class="d-inline-block position-absolute logo-github">
  <img
    src="../assets/svg/github.svg"
    alt=""
    aria-hidden="true"
    style="height: 50px;width:50px;"
  />
</span>
